222 <div class="row">

  <div class="col-md-12">
    {{outlet highlighted}}
    <div data-ui-view="highlighted"></div>
  </div>


  <div class="col-sm-8">
    <div data-ui-view>
      {{outlet}}
    </div>{{we-messenger}}
  </div>

  <div class="col-sm-4">

     {{outlet mainLeft}}
    <we-news></we-news>
  </div>

</div>222