<div id="dynamic-grid-container" class="users ">
  <div data-ng-repeat="user in users" class="user user-teaser teaser">

    {{#each controller}}

    <div class="header">

    </div>
    <div class="content">

      <h3><a href="/users/{{id}}">
        {{username}}
      </a>
      </h3>

      <a href="#"> <img width="" height="" class="" src="/imgs/avatars/user-avatar.png" data-ng-src=""> </a>

    </div>

    <div class="footer ng-scope">
        <div class="actions">
          <button type="button" class="btn btn-xs btn-default" data-ng-click="share($event)">
                <span class="glyphicon glyphicon-plus"></span> Add in contacts
          </button>
          <button type="button" class="btn btn-xs btn-default" data-ng-click="share($event)">
                <span class="glyphicon glyphicon-plus"></span> Follow
          </button>
        </div>
    </div>


    {{/each}}

  </div>
</div>