<hr>
<div class="row" id="footer">
  <div class="col-sm-6">
    <a href="https://github.com/wejs">Github</a> <small class="text-muted">|</small> <a href="https://wejs.org">Site</a>
  </div>
  <div class="col-sm-6">
    <p>
    <span class="pull-right">
      <a href="#" >WE License MIT 2013</a> | Theme
      from <a href="http://bootply.com/96266" target="ext">@Bootply</a>
    </span>
    </p>
  </div>
</div>

<hr>

<h4 class="text-center">
<a href="https://github.com/wejs/we" target="ext">WE - real time communication system</a>
</h4>

{{we-avatar-modal store=store}}