
<div class="contact" messenger-contact-message>
  <avatar user-id="{{fromId}}"></avatar>
  <span class="message">{{content.content}}</span>
  <div am-time-ago="message.createdAt" class="createdAt">{{createdAt}}</div>
</div>
