{{#with view.message}}
<div class="contact" messenger-contact-message>
  <span class="avatar-small">{{we-avatar userId=fromId}}</span>
  <span class="message">{{content}}</span>
  <div am-time-ago="message.createdAt" class="createdAt">{{createdAt}}</div>
</div>
{{/with}}