<footer class="footer">
  <div class="container">
    <p>© 2013-2014 <a href="https://github.com/we-cms/we-components/tree/master" target="_blank">We Components</a>. License <a href="https://github.com/we-cms/we-components/tree/master/LICENSE" target="_blank">MIT</a></p>
  </div>
</footer>