<div id="loadSiteProgressBlock">
  <div class="row center-block">
      <div class="col-sm-12 ">
        <h3 id="loadSiteProgressProgressTitle">Loading wejs...</h3>
        <div class="progress progress-striped active">
          <div id="loadSiteProgressProgressbar" class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="1" aria-valuemin="0" aria-valuemax="100" style="width: 1%;">
            <span id="loadSiteProgressProgressbarPercent">1% starting</span>
          </div>
        </div>
        <p id="loadSiteProgressText"></p>
      </div>
  </div>
</div>
