<!-- navbar-fixed-top -->
<div data-ng-controller="navbarContoller" class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><strong>We:</strong> Social</a>
    </div>

      <div class="pull-left navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="">
            <a href="#">News</a>
          </li>

          <li class="">
            <a href="/post">Posts</a>
          </li>

          <li class="">
            <a href="/users">Users</a>
          </li>
        </ul>
      </div>
    <!-- form-login -->
    <login-form></login-form>
    <!-- /form-login -->

    <user-menu></user-menu>

  </div>
</div>
<!-- /navbar-fixed-top -->