<div id="weConnectionStatusArea" {{bind-attr class=status}}>
  <a href="#" {{action "toggleConnection"}} data-toggle="tooltip" data-placement="bottom" {{bind-attr title=statusLegend}}><img {{bind-attr src=statusImageUrl}}></a>
</div>