<!DOCTYPE html>
<html>
  <head>
    <!--
        For demonstration purposes, the `title` is dynamically set here based on
        your `sails.config.appName` to show that you can inject data into layouts
        exactly the same way as with your other view templates.
    -->
    <title><%- title %></title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <meta name="csrf-token" content="<%= _csrf %>" />

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/theme.css">
    <!--STYLES END-->

    <style>
      [ng\:cloak] main,
      [ng-cloak] main,
      [data-ng-cloak] main,
      [x-ng-cloak] main,
      .ng-cloak main,
      .x-ng-cloak main,
      [ng\:cloak] footer,
      [ng-cloak] footer,
      [data-ng-cloak] footer,
      [x-ng-cloak] footer,
      .ng-cloak footer,
      .x-ng-cloak footer,
      .we-loading-hide {
        display: none !important;
      }

    </style>

  </head>

  <body ng-cloak>
<script type="text/x-handlebars">
    <div  class="wrapper main">
        <div class="box">
            <div class="row row-offcanvas row-offcanvas-left">

          <!-- sidebar -->
          <div class="column col-sm-2 col-xs-1 sidebar-offcanvas" id="sidebar">

              <!-- /angular js dinamic sidebar -->
              <div class="sidebar-area">
                <we-region name="sidebar"></we-region>
              </div>

              <ul class="nav">
                <li><a href="#" data-toggle="offcanvas" class="visible-xs text-center"><i class="glyphicon glyphicon-chevron-right"></i></a></li>
              </ul>

              <ul class="nav hidden-xs" id="lg-menu">
                  <li class="active"><a href="#featured"><i class="glyphicon glyphicon-list-alt"></i> Featured</a></li>
                  <li><a href="#stories"><i class="glyphicon glyphicon-list"></i> Stories</a></li>
                  <li><a href="#"><i class="glyphicon glyphicon-paperclip"></i> Saved</a></li>
                  <li><a href="#"><i class="glyphicon glyphicon-refresh"></i> Refresh</a></li>
              </ul>


                <!-- tiny only nav-->
                <ul class="nav visible-xs" id="xs-menu">
                    <li><a href="#featured" class="text-center"><i class="glyphicon glyphicon-list-alt"></i></a></li>
                    <li><a href="#stories" class="text-center"><i class="glyphicon glyphicon-list"></i></a></li>
                    <li><a href="#" class="text-center"><i class="glyphicon glyphicon-paperclip"></i></a></li>
                    <li><a href="#" class="text-center"><i class="glyphicon glyphicon-refresh"></i></a></li>
                </ul>

          </div>
          <!-- /sidebar -->

            <!-- main right col -->
            <div class="column col-sm-10 col-xs-11" id="main">

                <!-- navbar -->
                <%- include ../partials/navbar.ejs %>
                <!-- /navbar -->

                <div class="padding">
                    <div class="full col-sm-9">

                        <div class="row">

                          <div class="col-md-12">

                            <div data-ui-view="highlighted"></div>
                          </div>


                          <div class="col-sm-8">
                            <div data-ui-view>
                              {{outlet}}
                            </div>{{we-messenger}}
                          </div>

                        <div class="col-sm-4">
                            <we-news></we-news>
                         </div>

                       </div>


                        <%- include ../partials/footer.ejs %>


                      <hr>


                    </div><!-- /col-9 -->
                </div><!-- /padding -->
            </div>
            <!-- /main -->
        </div>

      <div data-we-messenger></div>



    </div>
</div>

</script>

<script type="text/x-handlebars" data-template-name="my_layout">
  <div class="content-wrapper">
    {{yield}}
  </div>
</script>

<script type="text/x-handlebars" data-template-name="my_content">
  Hello, <b>{{view.name}}</b>!
</script>




<!--SCRIPTS-->
<script src="/js/libs/socket.io.js"></script>
<script src="/js/sails.io.js"></script>
<script src="/bower_components/jquery/dist/jquery.js"></script>
<script src="/bower_components/handlebars/handlebars.js"></script>
<script src="/bower_components/ember/ember.js"></script>
<script src="/bower_components/ember-data/ember-data.js"></script>
<script src="/bower_components/ember-data-sails-adapter/ember-data-sails-adapter.js"></script>
<script src="/bower_components/ember-addons.bs_for_ember/dist/js/bs-core.max.js"></script>
<script src="/bower_components/ember-auth/dist/ember-auth.js"></script>
<script src="/bower_components/ember-i18n/lib/i18n.js"></script>
<script src="/bower_components/showdown/src/showdown.js"></script>
<script src="/js/ember/emberApp.js"></script>
<script src="/js/ember/messenger/routes.js"></script>
<script src="/js/ember/posts/routes.js"></script>
<!--SCRIPTS END-->


<!--TEMPLATES-->
<script type="text/javascript" src="/tpls.hbs.js"></script>
<!--TEMPLATES END-->


</body></html>