<!DOCTYPE html>
<html>
  <head>
    <!--
        For demonstration purposes, the `title` is dynamically set here based on
        your `sails.config.appName` to show that you can inject data into layouts
        exactly the same way as with your other view templates.
    -->
    <title><%- title %></title>

    <!--SCRIPTS-->
    <script data-main="/main" src="/js/libs/require.js" data-dump="/js/ember/emberApp.js"></script>
    <!--SCRIPTS END-->

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <meta name="csrf-token" content="<%= _csrf %>" />

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/theme.css">
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="/bower_components/summernote/dist/summernote.css">
    <link rel="stylesheet" href="/bower_components/codemirror/lib/codemirror.css">
    <!--STYLES END-->

    <style>
      [ng\:cloak] main,
      [ng-cloak] main,
      [data-ng-cloak] main,
      [x-ng-cloak] main,
      .ng-cloak main,
      .x-ng-cloak main,
      [ng\:cloak] footer,
      [ng-cloak] footer,
      [data-ng-cloak] footer,
      [x-ng-cloak] footer,
      .ng-cloak footer,
      .x-ng-cloak footer,
      .we-loading-hide {
        display: none !important;
      }

    </style>

  </head>

  <body ng-cloak>

<div class="hidden">
  <img src="/imgs/connected.png">
  <img src="/imgs/reconnecting.gif">
  <img src="/imgs/disconnected.png">
</div>
</body></html>