<ul class="nav navbar-nav navbar-right" ng-show="user.authorized">
  <li>
    <a href="#" class="dropdown-toggle user-menu-link" data-toggle="dropdown">
      <span class="avatar-small">
        <avatar user-id="user.id"></avatar>
      </span>
      <span class="user-name" data-ng-bind="user.name">{{user.name}}</span><b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li data-ng-controller="AvatarModalController">
        <a data-ng-click="openModal()" href="#ChangeAvatarModal">Change Avatar</a>
      </li>
      <li class="divider"></li>
      <li><a href="/users/{{user.id}}">View account</a></li>
      <li><a href="/users/{{user.id}}/edit/">Edit account</a></li>
      <li class="divider"></li>
      <li><a href="/users/logout">Sing out</a></li>
    </ul>
  </li>
</ul>