<aside class="form-signup">
  <h2 class="form-signin-heading">
    {{"Create account"|i18n}}
    <br>
  </h2>

  <form data-ng-controller="CreateAccountCtrl" data-ng-submit="submit($event)" name="createAccountForm" class="user-signup-form ng-pristine ng-invalid ng-invalid-required" method="POST">
    <!-- input: username -->
    <div class="form-group">
      <div class="input-group">
        <label for="name" class="input-group-addon">
          <i class="fa fa-user fa-lg"></i>
        </label>
      <input data-ng-model="user.name" id="name" type="text" class="form-control input-lg ng-pristine ng-invalid ng-invalid-required" placeholder="Pick a username" autofocus="" name="name" required="">
      </div>
    </div>
    <!-- /input: username -->

    <!-- input: email -->
    <div class="form-group">
      <div class="input-group">
        <label for="email" class="input-group-addon">
          <i class="fa fa-envelope fa-lg"></i>
        </label>
        <input data-ng-model="user.email" id="email" type="email" class="form-control input-lg ng-pristine ng-invalid ng-invalid-required ng-valid-email" placeholder="Your email" name="email" required="">
      </div>
      <div class="message" data-ng-repeat="message in user.email.messages">
        <div class="message.type">{{message.message}}</div>
      </div>
    </div>
    <!-- /input: email -->

    <!-- input: password -->
    <div class="form-group">
      <div class="input-group">
        <label for="password" class="input-group-addon">
          <i class="fa fa-key fa-lg"> </i>
        </label>
        <input data-ng-model="user.password" id="password" type="password" class="form-control input-lg ng-pristine ng-invalid ng-invalid-required" placeholder="Password" name="password" required="">

        <!-- input: confirm-password -->
        <label for="confirm-password" class="input-group-btn">
          <i class="glyphicon glyphicon-user"> </i>
        </label>
        <input data-ng-model="user.confirmPassword" id="confirm-password" type="password" class="form-control input-lg ng-pristine ng-invalid ng-invalid-required" placeholder="Confirm password" name="confirmPassword" required="">
        <!-- /input: confirm-password -->
      </div>
    </div>
    <!-- /input: password -->

    <!-- button -->
    <button class="btn btn-lg btn-success btn-block" type="submit">
      {{"Sign up"|i18n}}
      <i class="glyphicon glyphicon-chevron-right"> </i>
    </button>
    <!-- /button -->

    <div class="message" data-ng-repeat="message in messages">
      <div class="message.type">{{message.message}}</div>
    </div>
  </form>


  <div class="agree-terms">
    {{"By clicking Sign Up, you agree to: We dont are responsible for anything that may happens to your data in this test system"|i18n}}
  </div>

</aside>