<div class="activity-teaser teaser">
  <div class="header">

    <a href="/users/{{activity.creator_id}}">
      <span avatar="activity.creator_id" class="creator-avatar"></span>
    </a>
    <a href="/activity/{{activity.id}}">

  {{activity.id}}
    </a>
    <div class="creator">

    </div>

  {{activity.id}}
  {{activity.creator_id}}

  </div>

  <div class="content">
    <div class="activity-text">{{activity.text}}</div>
  </div>

  <div class="footer ng-scope">
      <div class="actions">
          <span class="social pull-left">
              <button type="button" class="btn btn-xs btn-default" data-ng-click="up($event)">
                <span class="glyphicon glyphicon-thumbs-up"></span>
              </button>
              <button type="button" class="btn btn-xs btn-default" data-ng-click="down($event)">
                <span class="glyphicon glyphicon-thumbs-down"></span>
              </button>
          </span>

          <button type="button" class="btn btn-xs btn-default" data-ng-click="share($event)">
            <span class="glyphicon glyphicon-share-alt"></span> Share
          </button>
          <button type="button" class="btn btn-xs btn-default" data-ng-click="edit($event)">
            <span class="glyphicon glyphicon-edit"></span> Edit
          </button>
          <button class="btn btn-xs btn-danger" data-ng-click="delete($index,$event)">
            <span class="glyphicon glyphicon-remove"></span> Delete
          </button>
      </div>
      <div class="comments">

      </div>
      <div class="comment-add">
          <img class="avatar-small pull-left" src="/imgs/avatars/user-avatar.png">
          <div class="comment-add-buttom" role="button">Comentar...</div>
      </div>
  </div>
</div>