<div class="col-md-4">
<div class="group group-teaser teaser panel panel-default text-center">
  <div class="header panel-heading">
    <h3>
    {{#link-to 'group' id}}
      {{substr name max=15}}
    {{/link-to}}
    </h3>
  </div>
  <div class="content panel-body">
    {{#link-to 'group' id}}
      <img width="100%" src="/imgs/logos/group2.jpg">
    {{/link-to}}
  </div>
  <div class="footer panel-footer">
    <span>10</span> <span>15</span>
  </div>
</div>
</div>