<div class="post-teaser teaser">
  <div class="header">

    <a href="/users/{{post.creator_id}}">
      <avatar user-id="post.creator_id" class="creator-avatar"></avatar>
    </a>
    <a href="/post/{{post.id}}">

  {{post.id}}
    </a>
    <div class="creator">

    </div>

  {{post.id}}
  {{post.creator_id}}

  </div>

  <div class="content">
    <div data-ng-hide="post.editing" class="post-text" >{{post.text}}</div>

    <form data-ng-show="post.editing" id="form-post-{{post.id}}" class="edit-post">
      <textarea class="post-text"ng-model="post.text"></textarea>
      <div class="actions">
        <button type="button" class="btn btn-primary" data-ng-click="update()">
          <span class="glyphicon glyphicon-ok"> Save </span>
        </button>
        <button type="button" class="btn btn-default" data-ng-click="cancelEdit()">
          <span class="glyphicon glyphicon-remove"> Cancel </span>
        </button>
      </div>
    </form>

  </div>

  <div class="footer ng-scope">
      <div class="actions">
          <span class="social pull-left">
              <button type="button" class="btn btn-xs btn-default" data-ng-click="up($event)">
                <span class="glyphicon glyphicon-thumbs-up"></span>
              </button>
              <button type="button" class="btn btn-xs btn-default" data-ng-click="down($event)">
                <span class="glyphicon glyphicon-thumbs-down"></span>
              </button>
          </span>

          <button type="button" class="btn btn-xs btn-default" data-ng-click="share($event)">
            <span class="glyphicon glyphicon-share-alt"></span> Share
          </button>
          <button type="button" class="btn btn-xs btn-default" data-ng-click="edit($event)">
            <span class="glyphicon glyphicon-edit"></span> Edit
          </button>
          <button class="btn btn-xs btn-danger" data-ng-click="delete($event)">
            <span class="glyphicon glyphicon-remove"></span> Delete
          </button>
      </div>
      <div class="comments">

      </div>
      <div class="comment-add">
          <img class="avatar-small pull-left" src="/imgs/avatars/user-avatar.png">
          <div class="comment-add-buttom" role="button">Comentar...</div>
      </div>
  </div>
</div>