<div data-ng-show="publicRoom.messengerBox.show" class="messenger-column">
  <div class="messenger-chat-area">
    <div class="contact-chat">
      <div data-ng-click="messengerPublicBoxToggle(contact.id, 'public')" class="header">
        <span class="contact-name">Public</span>
      </div>
      <div class="actions">
        <button data-ng-click="messengerPublicBoxClose(contact.id)" type="button" class="remove btn btn-danger btn-xs pull-right">
          <span class="glyphicon glyphicon-remove"></span>
        </button>
      </div>
      <div scrollBottom id="messengerBox-{{contact.id}}" data-ng-show="publicRoom.messengerBox.opened" class="messages">
        <div data-ng-repeat="message in publicRoom.messages" class="contact" messenger-contact-message>
          <avatar user-id="{{message.fromId}}"></avatar>
          <span class="message">{{message.content}}</span>
          <div am-time-ago="message.createdAt" class="createdAt">{{message.createdAt}}</div>
        </div>
        <div id='messenger-after-contacts'></div>
      </div>
      <div data-ng-show="publicRoom.messengerBox.opened" class="footer">
        <form data-ng-submit="send(publicRoom.newMessage, null, $event)" action="/messenger/send" method="post">
          <div class="input-group">
            <input data-ng-model="publicRoom.newMessage" type="text" name="newMessage" value="">
            <input data-ng-model="publicRoom.id" type="hidden" name="toId" value="{{user.id}}">
            <span class="input-group-btn">
              <button class="btn btn-xs btn-primary" type="submit">Send</button>
            </span>
          </div><!-- /input-group -->
        </form>
      </div>
    </div>
  </div>
</div>