<aside class="col-sm-3" role="complementary">
  <div class="region region-sidebar-first well">
    {{partial 'notifications/sidebar'}}
  </div>
</aside>

<section id="main-content-area" class="col-sm-9">
  <div id="main-content-inner">
  <a id="main-content"></a>
    <h1 class="page-header">Notificações</h1>
    <div class="region region-content">
    <section id="block-system-main" class="block block-system clearfix">
      {{outlet}}
    </section>
    </div>

  </div>
</section>
