<form id="avatar-upload" action="user/avatar/"  class="form-upload-avatar" name="uploadAvatarForm" method="post" data-file-upload="options" enctype="multipart/form-data">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title">Change avatar</h4>
  </div>
  <div class="modal-body">
    <div class="row file-uploader">
      <div class="col-md-8">
        <input type="file" ng-file-select="onFileSelect($files)" >
      </div>
      <div class="col-md-4">
        <button class="btn btn-primary" type="buttom" data-ng-click="submit($event)">Upload and save</button>
      </div>
    </div>

    <div class="file-upload-progress">
      <progressbar max="max" value="dynamic" type="{{type}}" class="progress-striped {{progressActive}}">
        <span data-ng-show="progressActive" style="color:black; white-space:nowrap;">{{dynamic}} / {{max}}</span>
      </progressbar>
    </div>

    <div>
      <avatar user-id="user.id" class="creator-avatar"></avatar>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button"  data-ng-click="modalClose()" class="btn btn-default" data-dismiss="modal">Close</button>
  </div>
</form>
