<section role="section" id="section-start" class="section-start">
  <div class="main container">

    <div class="logged-out ">
      <!-- welcome -->
      <aside class="welcome">
        <h1 class="title">We Social</h1>
        <h3 class="text">This is a template for social network. You can found a basic scaffold for start your project based in a front-end framework focused in <span class="strong">reusable components</span> and in a <span class="strong">mobile first</span> principle. <span class="strong">Enjoy.</span></h3>
      </aside>
      <!-- /welcome -->

      <!-- signup-form -->
      <%- include ../partials/forms/signup-form.ejs %>
      <!-- /signup-form -->
    </div>
  </div>

  <!-- footer -->
  <%- include ../partials/footer.ejs %>
  <!-- /footer -->
</section>
