<section role="section" id="section-start" class="section-start">
  <div class="container">
    <h1>Great!</h1>
    <h4>Welcome to <strong>We CMS</strong>!</h4>
    <p class="text">This is a default template.</strong></p>
    <p><a href="#" class="btn btn-warning btn-lg" role="button">Unstable version!</a></p>
  </div>

  <!-- footer -->
  <%- include ../partials/footer.ejs %>
  <!-- /footer -->
</section>
