<div class="wrapper main">
  <div class="box">
    <div class="row">
      <div class="column col-sm-12" id="main">
          {{partial "partials/navbar" }}
          <div class="padding">
              <div class="full col-sm-12">
                {{outlet}}
                {{partial 'partials/footer' }}
                <hr>
              </div>
          </div>
      </div>
    </div>
    {{#if isAuthenticated}}
      {{we-messenger store=store}}
    {{/if}}
</div>
</div>