<div data-ng-show="contact.messengerBox.show" class="messenger-column {{contact.messengerStatus}}">
  <div class="messenger-chat-area">
    <div class="contact-chat">
      <div data-ng-click="messengerBoxToggle(contact.id)" class="header">
        <span class="messenger-status {{contact.messengerStatus}}">{{contact.messengerStatus}}</span>
        <span class="contact-name">{{contact.name}}</span>

      </div>
      <div class="actions">
        <button data-ng-click="messengerBoxClose(contact.id)" type="button" class="remove btn btn-danger btn-xs pull-right">
          <span class="glyphicon glyphicon-remove"></span>
        </button>
      </div>
      <div scrollBottom id="messengerBox-{{contact.id}}" data-ng-show="contact.messengerBox.opened" class="messages">
        <div data-ng-repeat="message in contact.messages" class="contact status-{{message.status}}" messenger-contact-message>
          <avatar user-id="{{message.fromId}}"></avatar>
          <span class="message">{{message.content}}</span>
          <div am-time-ago="message.createdAt" class="createdAt">{{message.createdAt}}</div>
        </div>
        <div id='messenger-after-contacts'></div>
      </div>
      <div data-ng-show="contact.isWriting" class="contact is-writing">
        <avatar user-id="{{contact.id}}"></avatar><span class="is-writing-text"> is writing ... </span>
      </div>
      <div data-ng-show="contact.messengerBox.opened" class="footer">
        <form data-ng-submit="send(contact.newMessage, contact.id, $event)" action="/messenger/send" method="post">
          <div class="input-group">
            <input data-ng-model="contact.newMessage" data-ng-change="emitIsWriting(contact.id)" type="text" name="newMessage" value="">
            <input data-ng-model="contact.id" type="hidden" name="toId" value="{{contact.id}}">
            <span class="input-group-btn">
              <button class="btn btn-xs btn-primary" type="submit">Send</button>
            </span>
          </div><!-- /input-group -->
        </form>
      </div>
    </div>
  </div>
</div>