{{#if isAuthenticated}}
<div id="posts" class="posts ">
    <div class="sharebox-area masonry-brick  content-block">
      {{we-sharebox post=post store=store}}
    </div>
  <div class="new-posts-notification alert alert-info">
    TODO show new post notifications here
  </div>
  {{#each }}
    {{render 'post/teaser' this controller='Post'}}
  {{/each}}

  {{we-timeline-loading loadingMore=loadingMore getMore=getMore}}

</div>

{{/if}}
