<div id="posts" class="posts ">
  <div class="sharebox-area masonry-brick  content-block">
    {{we-sharebox post=post store=store}}
  </div>
  <div data-ng-repeat="post in posts" class="masonry-brick content-block post">
    <we-post-teaser id="post-{{post.id}}" data-post="post"></we-post-teaser>
  </div>
</div>