
.main {
  margin-top: 70px;
}

.navbar{
  .user-menu-link {
    padding-top: 5px;
    padding-bottom: 5px;
    img{
      height: 35px;
      width: 35px;
    }
  }

}

#loading-site {
  display: none;
}

#loading-site.ng-cloak {
  display: block;
}

.modal {
  .left-bar {

  }

  .change-avatar-main {

  }
}

#ChangeAvatarModal {
  min-height: 100px;
}

@media screen and (min-width: 768px){
 .modal-dialog {
    width: 85%;
    margin: 30px auto;
  }
}


.user {

  &.user-teaser {
    float: left;
    //.thumbnail;
  }
}

.site-logo-link {
  padding: 0px !important;
  background-color: transparent !important;
}

.logo-img {
  width: 28px ;
  border-radius: 4px;
}

user-menu {
  display: block;
  margin-right: 16px;
}