<div class="row"><div class="col-md-12">
<button {{action 'cancelCrop'}} class="btn btn-default">Cancel</button>
<button {{action 'saveCrop'}} class="btn btn-primary">Save</button>
</div></div>
<br>
<div class="row"><div class="col-md-12">

{{we-image-crop src=image.urls.original file=image data=cropImageData}}

</div></div>