<div class="row">

<div class="col-md-12">
{{t 'Send by'}} {{view App.UserNameView user=creator}}
</div>
<div class="col-md-12">
  <img {{bind-attr src=image.urls.large}}>
</div>

{{#if isCreator}}
  <div class="col-md-12">
    {{#link-to 'image.crop' image.name}}
      Redimencionar
    {{/link-to}}
  </div>
{{/if}}

</div>