<div class="comment">

  <div class="user-avatar-area comment-left">
    <avatar user-id="{{comment.creator_id}}" class="creator-avatar"></avatar>
  </div>

  <div class="comment-right">
    <div class="comment-header">
        <span class="comment-username" ng-if="!comment.profileUrl">{{comment.creator.name}}</span>
        <span am-time-ago="comment.createdAt" class="createdAt comment-date">{{comment.createdAt}}</span>
    </div>

    <div class="comment-body">
      <div ng-bind="comment.text"></div>
      <div comments-transclude comment-data="comment.children"></div>
    </div>

  </div>
</div>
