<div {{bind-attr class=messageClass}} >
  <span class="avatar-small">{{we-avatar userId=fromId}}</span>
  <span class="message">{{content.content}}</span>
  <div class="createdAt">{{format-date createdAt}}</div>
</div>

